# Text files 
schedule.doc
syllabus.doc

data/
data_prep/

labs/lab3/cache/

# Instructor notes
instructor-lecture-notes.txt
instructor-lab-notes.txt
lectures/instructor-notes.txt
github_guide.txt

# File types
*.DS_Store
*-checkpoint.ipynb
*.ipynb_checkpoints
*.pptx
*.doc
*.docxs
*.xlsx
*.nc
*.tif
*.TIF

# Answers
labs/lab2/02_wildfires_in_lane_county_answers.ipynb

instructor-lecture-notes.txt
instructor-lab-notes.txt
github_guide.txt
labs/lab4/instructor-notes.txt
